{% extends "base.html" %} {%block content%}
<div class="d-flex flex-wrap justify-content-center px-5 pt-5">
  {% if data %}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Musician Name</th>
        <th scope="col">Email</th>
        <th scope="col">Album Rating</th>
        <th scope="col">Instrument Type</th>
        <th scope="col">Album Name</th>
        <th scope="col">Release Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for album in data %}
      <tr>
        <td>{{album.id}}</td>
        <td>
          <a
            href="{% url 'edit_musician' album.musician.email %}"
            style="
              text-decoration: none;
              color: rgb(9, 108, 43);
              font-weight: 600;
            "
          >
            {{album.musician.first_name}} {{album.musician.last_name}}
          </a>
        </td>
        <td>{{album.musician.email}}</td>
        <td>{{album.rating}}</td>
        <td>{{album.musician.instrument_type}}</td>
        <td>{{album.album_name}}</td>
        <td>{{album.release_date}}</td>
        <td>
          <a href="{% url 'edit_album' album.id %}">Edit</a>
          <a
            href="{% url 'delete_album' album.id %}"
            style="color: rgb(171, 13, 21)"
            >Delete</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% else %}
  <h3>No data available to show</h3>
  {% endif %}
</div>
{%endblock%}
